#homero {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: cyan;
    background-image: url(../images/HomerSimpson.webp);
    background-position: 50% 50%;
    background-size: 200px;
    background-repeat: no-repeat;
    padding: 50px;
    border: 5px solid darkblue;
    float: left;
}

#marge {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(52, 255, 191);
    background-image: url(../images/Marge.webp);
    padding: 50px;
    border: 5px solid rgb(1, 77, 2);
    float: left;
}

#bart {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(253, 4, 4);
    background-image: url(/images/Bart_Simpson_200px.png);
    padding: 50px;
    border: 5px solid rgb(41, 0, 7);
    float: left;
}

#lisa {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(253, 104, 4);
    background-image: url(/images/Lisa_Simpson.png);
    padding: 50px;
    border: 5px solid rgb(41, 10, 0);
    float: left;
}

@font-face {
    font-family: simpsons;
    src: url(/fonts/Simpsonfont.otf);
}

h1 {
    font-family: simpsons;
    font-size: 100px;
    text-align: center;
}